version: "3.4"

services:
  api:
    container_name: api
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    environment:
      DATABASE_URL:

  mysql:
    container_name: mysql
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD:
    ports:
      - "3306:3306"

volumes:
  mysql:
